.difficulty_cooking {

    display: flex;
    align-items: center;
}

.difficulty__title {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.85);
}

.difficulty__stars {
    display: flex;
    margin-left: 6px;
}

.difficulty__stars .star {
    margin-left: 2px;
}