.filter-area {
    min-height: 500px;
    width: 465px;
    background-color: white;
}

.placeholder_image {
    width: 369px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__description {
    font-size: 14px;
}

.header__description p {
    line-height: 18px;
    margin-top: 18px;
    font-weight: 400;
}

.filter-area__input_form {
    width: 100%;
}

.select_input, .radio_buttons__container, .input_form__reset_filters {
    margin-top: 17.33px;
}

.input_form__reset_filters {
    color: var(--primary-color);
    opacity: 50%;
    font-size: 14px;
    transition: .2s;
    width: fit-content;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.input_form__reset_filters:hover {
    cursor: pointer;
    opacity: 100%;
}