.recipe-card {
    position: relative;
    display: flex;
    min-height: 355px;
    border: 2px solid var(--border-color-recipe);
    border-radius: 2px;
    width: 100%;
    max-width: 452px;
    background-color: white;
    margin-top: 8px;
    margin-left: 8px;
    transition: all .2s;
    text-decoration: none;
}

.recipe-card:hover{
    cursor: pointer;
    border-color: var(--primary-color);
}

.recipe-card__header_image {
    width: 50%;
}

.header_image__header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    border-bottom: 1px solid var(--border-color-recipe);
}

.header_image__header .recipe__title {
    font-size: 16px;
    text-align: center;
    color: black;

}

.recipe-card__info {
    width: 50%;
    padding: 24px;
}

.header_image__image {
    height: 294px;
}

.info__description {
    display: -webkit-box;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.info__time {
    margin-top: 8px;
}

.info__difficulty {
    margin-top: 8px;
}

.info__cuisine, .info__meals {
    font-size: 12px;
    margin-top: 8px;
    line-height: 24px;
    color: black
}

@media only screen and (max-width: 900px) {
    .recipe-card {
        flex-direction: column;
        max-width: 100%;
    }

    .recipe-card__header_image {
        width: 100%;
    }

    .recipe-card__info {
        width: 100%;
        padding: 24px;
    }

}