.spinner {
    z-index: 90;
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: white;
}

.spinner.active {
    display: block;
}

.spinner_object {
    position: absolute;
    top: 45%;
    left: 47%;
}