.header {
    display: flex;
    min-height: 72px;
    width: 100%;
    padding-left: 24px;
    align-items: center;
    font-weight: 500;
}

.header__light {
    background-color: white;
    color: var(--black-opacity-color);
}

.header__title {
    min-height: 28px;
    font-size: 24px;
    line-height: 28px;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    padding-right: 12px;
}
.header__title.title__margin_left {
    margin-left: 16px;
}


.header__title::-webkit-scrollbar
{
    width: 1px;
    height: 2px;
    background-color: transparent;
    top: 10px;
}

.header__title::-webkit-scrollbar-thumb
{
    background-color: #bdbdbd;
    border: 1px solid #bdbdbd;
}
